a#show, a#hide {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

a#hide {
    display: none;
}

#previous-releases {
    display: none;
}

ol, ul {
    padding-left: 15px;
    line-height: 1.1em;
}

li {
    padding-left: 10px;
}